body{
  font-family: 'Arial', sans-serif;
}

header {
  background: url(../image/Sin\ título-1.jpg) no-repeat center;
  background-size: cover;
  padding: 80px 0 90px 0;
  /* Ajusta el padding según sea necesario */
  border-radius: 0 0 10px 10px;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(19, 44, 170, .1);
  border: solid rgba(19, 44, 170, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(19, 44, 170, .1), inset 0 0.125em 0.5em rgba(19, 44, 170, .15);
  border-radius: 10px;
}

main{
  border-radius: 10px;
  background-color: rgba(19, 44, 170, .1);
  border: solid rgba(19, 44, 170, .15);
  box-shadow: inset 0 0.5em 1.5em rgba(19, 44, 170, .1), inset 0 0.125em 0.5em rgba(19, 44, 170, .15);
  padding: 80px 0 90px 0;
}

.text-bg h1 {
  color: #000000;
  font-size: 75px;
  line-height: 110px;
  font-weight: bold;
}

.text-bg p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  padding: 40px 0;
}

.text-bg a {
  font-size: 17px;
  background-color: #fff;
  color: #000;
  padding: 13px 25px;
  max-width: 190px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  border-radius: 26px;
}

/* ... Otros estilos ... */

/* Estilo para las secciones de Misión y Visión */
.custom-section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajusta los valores según lo necesites */
  border-radius: 10px;
  padding: 20px; /* Agregamos relleno interno para separar el contenido del borde */
  margin-bottom: 20px; /* Ajustamos el margen en la parte inferior */
}

.custom-section h2 {
  color: rgba(19, 44, 170, 0.7);
}

.custom-section p {
  color: #000; /* Cambia el color del texto según lo necesites */
}

/* ... Otros estilos ... */

/* Agrega estilos para las secciones que quieres que tengan sombra */
.sobre_nosotros, .proyectos, .mienbros, .actividades {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajusta los valores según lo necesites */
}




.sobre_nosotros, .proyectos, .mienbros, .actividades {
  border-radius: 10px;
}


.empresa-colaboradoras {
  background: url(../image/Sin\ título-1.jpg) no-repeat center;
  background-size: cover;
  padding: 80px 0 90px 0;
  /* Ajusta el padding según sea necesario */
  border-radius: 10px 10px 0 0;
}

/* Estilo para el carrusel personalizado */
.custom-carousel {
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.featurette {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-align: center; /* Texto centrado */
}

.featurette .col-md-7 {
  padding: 2rem;
  text-align: left; /* Alineación del texto a la izquierda */
}

.featurette .col-md-5 img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  header {
    padding: 40px 0 50px 0;
  }

  header img {
    max-width: 100%;
    height: auto;
  }

  main {
    border-radius: 10px;
    background-color: rgba(19, 44, 170, .1);
    box-shadow: inset 0 0.5em 1.5em rgba(19, 44, 170, .1), inset 0 0.125em 0.5em rgba(19, 44, 170, .15);
    padding: 20px;
  }

  .text-bg {
    padding: 20px;
  }

  .text-bg h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .text-bg p {
    font-size: 14px;
    line-height: 20px;
  }

  .sobre_nosotros, .proyectos, .mienbros, .actividades {
    box-shadow: none; /* Elimina la sombra en dispositivos móviles */
  }
}
